/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
\#*
/out

##

.clj-kondo
.lsp
.cpcache
.idea
.shadow-cljs
node_modules/
resources/public/js/