{:require  [cljpyoung.landoflisp]
 :init-fns [cljpyoung.landoflisp/main]

 :compiler-options
 {:asset-path "js/main.out"

  :closure-defines      {"re_frame.trace.trace_enabled_QMARK_" true
                         "day8.re_frame.tracing.trace_enabled_QMARK_"  true}
  :preloads             [day8.re-frame-10x.preload]

  :language-in :ecmascript-2017
  :language-out :ecmascript-2017
  :source-map true
  :parallel-build true
  }
 }
